name: Pull Request Check

on:
  pull_request:

jobs:
  commit-message:
    runs-on: ubuntu-latest
    steps:
      - name: Conventional Commit In Pull Requests
        uses: ytanikin/pr-conventional-commits@1.5.1
        with:
          task_types: '["feat","fix","docs","test","ci","refactor","perf","chore","revert"]'
  dco:
    runs-on: ubuntu-latest
    steps:
      - uses: KineticCafe/actions-dco@v1